h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: #2e2f42;
  font-weight: 700;
  line-height: 1.16;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.web {
  color: #4d5ae5;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.menu-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-nav > li > a {
  display: block;
  padding: 24px 0;
}

.menu-nav .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  display: block;
}
.menu-nav .link:hover {
  color: #404bbf;
}
.menu-nav .link:focus {
  color: #404bbf;
}

.link {
  text-decoration: none;
}

.link-studio {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.link-studio:hover {
  color: #404bbf;
}
.link-studio:focus {
  color: #404bbf;
}
.link-studio:active {
  color: #404bbf;
  text-decoration: underline;
}

.address-header {
  margin-left: auto;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list > li > a {
  font-style: normal;
  color: #434455;
  padding: 24px 0;
  display: block;
}
.address-list > li > a:hover {
  color: #404bbf;
}
.address-list > li > a:focus {
  color: #404bbf;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2f42;
}
.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 188px 0;
}

.hero-section .text {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
}
.hero-section .button {
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  text-shadow: 0px 4px 4px #00000026;
  border: 0;
}
.hero-section .button:hover {
  background-color: #404bbf;
}
.hero-section .button:focus {
  background-color: #404bbf;
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.features-section .container {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
}

.features-list li {
  width: calc((100% - 72px) / 4);
}

.features-list > li > h3 {
  margin-bottom: 8px;
}

h3 {
  font-weight: 500;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-team-section {
  background-color: #f4f4fd;
}

.our-team-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
  flex-direction: column;
}

.our-team-section > ul > li {
  background-color: #ffffff;
}

.team-title {
  text-align: center;
  margin-bottom: 72px;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.member {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);

  border-radius: 0 0 4px 4px;
}

.person-biog {
  padding: 32px 16px;
}

.person {
  text-align: center;
}

.bio {
  text-align: center;
}

.portfolio-section .container {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  row-gap: 48px;
  flex-direction: row;
}
.portfolio-list > li {
  max-width: 360px;
}
.portfolio-list > li > img {
  display: block;
}

.portfolio-info {
  padding: 32px 16px;
  border: #e7e9fc 1px solid;
  border-top: 0;
}
.portfolio-info h3 {
  margin-bottom: 8px;
}
.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}

footer .container {
  padding: 100px 0;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
  font-weight: 700;
  line-height: 1.16;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-logo .web {
  color: #4d5ae5;
}

.footer-text {
  max-width: 264px;

  margin-top: 16px;
}
